<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            
    </head>
    <body>
        <nav th:fragment="nav" class="nav_bar">
            <div>
                <ul class="lista_nav">
                    <li><a th:href="@{pedido.html}">Pedido</a></li>
                    <span>|</span>
                    <li><a th:href="@{carnes.html}">Carnes</a></li>
                    <span>|</span>
                    <li><a th:href="@{verduras_frutas.html}">Fruta y verdura</a></li>
                    <span>|</span>
                    <li><a th:href="@{latas.html}">Enlatados</a></li>
                    <span>|</span>
                    <li><a th:href="@{bebidas_frituras.html}">Bebidas y frituras</a></li>
                    <span>|</span>
                    <li><a th:href="@{especias.html}">Especias</a></li>
                </ul>
            </div>
        </nav>
        <footer th:fragment="footer">
            <span class="direccion">
                Direccion: Nogales, Sonora
                <br>
                Colonia Las Bellotas #315
                <br>
                Calle Bellotas
            </span>
            <span class="email">
                Contacto: lagranada.contact@lagranada.com
            </span>
        </footer>
        
    </body>
</html>
