:root{
    /*Variables background*/
    --body-color: brown;
    --a-image: url("/img/first_img.png");
    --a-image-hover: url("/img/transparent_def_def.png");
    /*Variables texto*/
    --font-title: "Stencil Std","Trattatello","Jazz LET","URW Chancery L";
    --shadow-title: 2px 2px 8px;
    --title-size: 100px;
    --subtitle-size: 35px;
    /*Nav bar*/
    --color-nav:#ccb501;
    /*Posicion de links y dimensiones*/
    --margin-link: 50px;
    --width-link: 390px;
    --height-link: 190px;
    --border-radius-link: 10px;
    --box-shadow-link: 3px 3px 5px 0px black;
    --text-link: #b48989;
    --text-link-hover: #6b5858;
    --text-shadow-link: 1px 1px 2px black;
    --margin-top-link: 75%;
    /*Table caracteristicas*/
    --color-table: #f6e5e5;
    --table-border: 1px solid black;
}


body, html{
    background-color: var(--body-color);
    margin: auto;
    height: 100%;
}

/*---------------------------------------------------------------------Nav bar*/
nav{
    background-color: var(--color-nav);
    margin-top: -16px;
}

.lista_nav{
    display: flex;
    justify-content: flex-end;
    padding: 12px 10px;
}
ul{
    list-style: none;
}
ul span{
    margin-left: 12px;
}

li a{
    margin-left: 15px;
    text-decoration: none;
    color: var(--text-link-hover);
    padding:5px;
    border-radius: 2px;
}

li a:hover{
    color: var(--text-link);
    box-shadow: var(--text-shadow-link);
}

/*----------------------------------------------------------------------Titulo*/

.titulo{
    font-size: var(--title-size);
    font-family: var(--font-title);
    text-align: center;
    text-shadow: var(--shadow-title);
}

.subtitle{
    font-size: var(--subtitle-size);
    font-family: var(--font-title);
    text-align: center;
    margin-left: 400px;
    margin-top: -25px;
    text-shadow: var(--shadow-title);
}

/*----------------------------------------------------------INICIO NAV BAR*/
div div div img{
    margin-top: 40px;
    max-width: 100%;
}

/*-----------------------------------------------------------DESCRIPCION Y SELECCION*/

.descripcion{
    padding: 10px 0px;
    text-align: center;
    max-width: 75%;
    margin: auto;
    box-shadow: 0px 0px 10px 10px;
}


.seleccion{
    margin-top: 50px;
    text-align: center;
    margin-bottom: -30px;
}

/*------------------------------------------------------Seleccion de productos*/

.linkCarnes, .linkVerduras, .linkFrutas, .linkBebidas, .linkFrituras, .linkEspecias, .linkLatas{
    margin: var(--margin-link);
    width: var(--width-link);
    height: var(--height-link);
    border-radius: var(--border-radius-link);
    background-image: var(--a-image);
    text-align: center;
    text-decoration: none;
    color: var(--text-link);
}

.linkBebidas:hover, .linkFrituras:hover, .linkCarnes:hover, .linkEspecias:hover, .linkLatas:hover, .linkVerduras:hover, .linkFrutas:hover{
    background-image: var(--a-image-hover);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: var(--box-shadow-link);
    color: var(--text-link-hover);
    text-shadow: var(--text-shadow-link);

}

.textBebidas, .textFrituras, .textCarnes, .textEspecias, .textLatas, .textVerduras, .textFrutas{
    margin-top: 75px;
    font-size: xx-large;
}


#rowlinks{
    justify-content: center;
}

/*----------------------------------------------------------------------footer*/
.footer{
    bottom: 0;
}

footer{
    background-color: var(--color-nav);
    color:white;
    display: flex;
    justify-content: space-between;
}

footer span{
    padding: 10px;
}

.email{
    margin-top: 15px; 
    margin-right: 15px;
}

.direccion{
    margin-left: 15px;
}
/*----------------------------------------------------------------------tablas*/


.titulo_articulo{
    font-size: 50px;
    text-align: center;
}

#contenedor_tablas{
    height: 62%;
}

#tabla{
    display: flex;
    justify-content: center;
}

table{
    background-color: var(--color-table);
    border: var(--table-border);
    border-radius: 5px;
}

th, td{
    border: var(--table-border);
}

td button{
    width: 100%;
    height: 100%;
}
