<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>La granada</title>
        <meta charset="UTF-8">
        <!--Autor: Diego G. Morales-->
        <link th:href="@{/css/main.css}" rel="stylesheet"/>
        <link th:href="@{/css/grid.css}" rel="stylesheet"/>
        <script th:src="@{/script/script.js}"></script>
    </head>
    <body>
        <!------------------------------------------------------------Nav bar-->
        <nav th:replace="layout/plantilla.html :: nav"></nav>
        <!---------------------------------------------------------------------Titulo-->
        <div class="titulo">La granada</div>
        <div class="subtitle">abarrotes</div>
        <!------------------------------------------------------------Imagenes muestra-->
        <div class="maxContainer">
            <div class="row_h">
                <div class="col20">
                    <img th:src="@{/img/verduras.jpg}" alt="verduras y frutas"/>
                </div>
                <div class="col20">
                    <img th:src="@{/img/carnes.jpg}" alt="carnes"/>
                </div>
                <div class="col20">
                    <img th:src="@{/img/latas.jpg}" alt="latas"/>
                </div>
                <div class="col20">
                    <img th:src="@{/img/chucherias.jpg}" alt="papitas y sodas"/>
                </div>
                <div class="col20">
                    <img th:src="@{/img/condimentos.png}" alt="condimentos"/>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <p>
                <!----------------------------------------------------Descripcion y seleccion-->
            <div class="descripcion">
                <h3>Bienvenido/a a la unica tienda en linea de abarrotes, en la que usted hace su pedido
                    y nosotros le enviamos su encargo.</h3>                
            </div>

            <div>
                <h3 class="seleccion">A continuacion puede seleccionar lo que guste de nuestra variedad de productos
                    y agregarla al carrito de compras.</h3>
            </div>
            <!------------------------------------------------------Seleccion de producto-->

            <div class="row_h" id="rowlinks">
                <a th:href="@{carnes.html}" class="linkCarnes">
                    <h2 class="textCarnes" th:text="Carnes"></h2>                            
                </a> 
                <a th:href="@{verduras.html}" class="linkVerduras">
                    <h2 class="textVerduras" th:text="Verduras"></h2>                            
                </a> 
                <a th:href="@{frutas.html}" class="linkFrutas">
                    <h2 class="textFrutas" th:text="Frutas"></h2>
                </a>
            </div>
            <div class="row_h" id="rowlinks">
                <a th:href="@{latas.html}" class="linkLatas">
                    <h2 class="textLatas" th:text="Enlatados"></h2>                            
                </a> 
                <a th:href="@{especias.html}" class="linkEspecias">
                    <h2 class="textEspecias" th:text="Especias"></h2>                            
                </a> 
                <a th:href="@{bebidas.html}" class="linkBebidas">
                    <h2 class="textBebidas" th:text="Bebidas"></h2>                            
                </a> 
                <a th:href="@{frituras.html}" class="linkFrituras">
                    <h2 class="textFrituras" th:text="Frituras"></h2>
                </a>
            </div>
        </div>
        <footer th:replace="layout/plantilla.html :: footer"></footer>
    </body>
</html>
