<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>La granada</title>
        <meta charset="UTF-8">
            <link th:href="@{/css/main.css}" rel="stylesheet"/>
            <link th:href="@{/css/grid.css}" rel="stylesheet"/>
    </head>
    <body>

        <!-------------------------------------------------------------Navbar-->
        <nav th:replace="layout/plantilla.html :: nav"></nav>

        <!----------------------------------------------------Titulo articulo-->
        <h1 th:text="Enlatados" class="titulo_articulo"></h1>

        <!----------------------------------------------------Tabla articulos-->
        <div class="row_h" id="contenedor_tablas">
            <div class="col50" id="tabla">
                <table>
                    <tr>
                        <th th:text="ID"></th>
                        <th th:text="Nombre"></th>
                        <th th:text="Marca"></th>
                        <th th:text="Tamanio"></th>
                        <th th:text="Precio"></th>
                        <th th:text="Descripcion"></th>
                        <th th:text="Almacen + '(' + Unidades + ')'"></th>
                        <th th:text="Agregar + ' ' + Art&iacute;culo"></th>
                    </tr>
                    <tr th:each="lata : ${latas}">
                        <td th:text="${lata.idLata}"></td>
                        <td th:text="${lata.marca}"></td>
                        <td th:text="${lata.nombre}"></td>
                        <td th:text="${lata.masa}"></td>
                        <td th:text="${lata.precio}"></td>
                        <td th:text="${lata.descripcion}"></td>
                        <td th:text="${lata.almacen}"></td>
                        <td> 
                            <button th:replace="layout/plantilla :: btn_add"></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col50" id="tabla">
                <table>
                    <tr>
                        <th th:text="Art&iacute;culo"></th>
                        <th th:text="Quitar + ' ' + Art&iacute;culo"></th>
                    </tr>
                </table>
            </div>            
        </div>
        <!-------------------------------------------------------------Footer-->
        <footer th:replace="layout/plantilla.html :: footer"></footer>
    </body>
</html>
