<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Verduras</title>
        <meta charset="UTF-8">
            <link th:href="@{/css/main.css}" rel="stylesheet"/>
            <link th:href="@{/css/grid.css}" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="layout/plantilla.html :: nav"></nav>
        <h1>Frutas y verduras</h1>
        <div th:replace="layout/plantilla.html :: btn_car"></div>
        <footer th:replace="layout/plantilla.html :: footer"></footer>
    </body>
</html>
